node_modules/
/.rpt2_cache/
resource/*.*
package-lock.json
/package-lock.json
res/iris.es.js
res/iris.iife.js
.vscode
/yarn.lock


/tests/
gulpfile.js
index.html
rollup.config.ts

/res/gltf/
/res/images/
/res/shaders/
/res/envmap/
